@{
    ViewData["Title"] = "Yeni Rol Ekle";
    Layout = "_LayoutAdmin";
}

<h2>Yeni Rol Ekle</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Rol Adı</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>





